# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Other
packages/
VIACinema/bin/
VIACinema/obj/
.vs/config/applicationhost.config
.vs/VIACinema/v14/.suo
VIACinema/bin/VIACinema.pdb
VIACinema/bin/VIACinema.dll
VIACinema/App_Data/DBCinema_log.ldf
VIACinema/App_Data/DBCinema.mdf
VIACinema/obj/Debug/VIACinema.pdb
VIACinema/obj/Debug/VIACinema.dll
VIACinema/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
VIACinema/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
.vs/VIACinema/v14/.suo
VIACinema/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
VIACinema/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache