body {
}

#Logo {
    height: 30px;
    margin-top: -5px;
}

.navbar {
    border-radius: 0 !important;
}

button, input, select, textarea {
    height: auto;
    width: auto;
}

.navbar {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
}