body {
}

#Logo {
    height: 30px;
    margin-top: -5px;
}

.navbar {
    border-radius: 0 !important;
}

button, input, select, textarea {
    height: auto;
    width: auto;
}

.navbar {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
}

.MovieItemContainer {
    margin-top: 12px;
    margin-bottom: 12px;
    padding-top: 7px;
    padding-bottom: 7px;
}

.MovieItem {
    cursor: pointer;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    opacity: 0.9;
    transition: all 250ms ease;
    border-radius: 2px;
}

.MovieItem:hover {
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.4);
    opacity: 1;
}

.MovieImage {
    width: 100%;
    height: auto;
    display: block;
    background-image: url(../images/noimage.jpg);
    background-size: cover;
    background-position: center;
}

.MovieInfo {
    background-color: #789661;
    color: white;
    padding: 5px;
    text-align: center;
    font-size: 13px;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

h1 .glyphicon, h2 .glyphicon {
    font-size: 0.75em;
    margin-right: 5px;
}

.seatlist {
    list-style-type: none;
}

.seatlist li{
    display: inline-block;
}

.seat {
    height: 70px;
    width: 70px;
    padding: 5px;
    opacity: 0.6;
    border-radius: 50px;
    transition: all 200ms linear;
}

.seat:hover {
    opacity: 1;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
}

/* Mobile */
@media (max-width: 425px) { 
    .MovieItemContainer {
        min-width: 100%;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .MovieImage {
        height: 312px;
        width: auto;
    }

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .MovieImage {
        height: 305px;
    }
    
    .MoviePageImage {
        min-width: 310px;
        max-width: 310px;
        float: right;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .MovieImage {
        height: 240px;
    }
}